@import "../../ComponentStyles/base";

.article__links{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.first-section {
    display: flex;
    margin-top: 50px;
    margin-right: 10px;
    color: whitesmoke;
    width: 33%;


    h4 {
        font-size: 17px;
        line-height: 25px;
        text-align: center;
    }

    .xillow__new-source {
        margin-top: 20px;

        h5 {
            text-align: center;
        }

        p {
            text-align: center;
        }
    }
}

.first-section:nth-child(2) {
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0 20px;
}

.section {
    display: flex;
    margin: 50px 0;
    .xillow__new-image {
        width: 240px;
        height: 160px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat
    }

    .xillow__new-tools{
        display: flex;
        align-items: center;

        p{
            margin: 0 10px;;
        }
    }

    .xillow__new-small-container{
        padding: 0 20px;
        width: 70%;
        display: flex;
        flex-direction: column;
    }
}