@import "./new";

.xillow-news__container{

    .xillow-news__background{
        background-size: cover;
        background-position: center;
    }
    .xillow__new-image{
        width: 200px;
        height: 160px;
    }
}