@import "./google-icon";
@import "./google-property";

.google-map__container{
    display: flex;  
    overflow: hidden;
    height: 100vh;

    .google-property__detailed-container{
        display: flex;
        flex-direction: column;
        width: 50%;
        overflow-x: scroll;

        .salt-lake-city{
            margin: 0 10px;
        }
        .google-property__container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 100%;
        }
        .pagination__section{
            display: flex;
            position: absolute;
            right: 0;
            p{
                height: 20px;
                width: 20px;
                cursor: pointer;
            }
        }
    }
}