@import "_base";
@import "../Components/Navbar/_nav-bar";
@import "../Components/Header/_header";
@import "../Components/Testimony/_testimony";
@import "../Components/Footer/footer";
@import "../Components/GoogleMap/googleIcon";

*{
    text-decoration: none;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
}