@import "_base";
@import "../Components/Navbar/_nav-bar";
@import "../Components/Header/_header";
@import "../Components/Testimony/_testimony";
@import "../Components/Footer/footer";
@import "../Components/Navbar/Signup/sign-up";
@import "../Components/Navbar/Signup/sign-up-form";
@import "../Components/ServerListing/server-listings";
@import "../Components/Mortgage/mortgage";
@import "../Components/News/news";
@import "../Components/UserHouses/UserHouses";
@import "../Components/UserHouses/House";
@import "../Components/GoogleMap/google-map";
@import "../Components/Search/sub-search";
@import "../Components/EachHouse/each-house";

*{
    text-decoration: none;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
}