@import "../../ComponentStyles/base";

.each-house__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    margin: 0px;

    .nav-controls {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;

        .return-box {
            align-self: flex-end;
            margin-right: 20px;
            margin-top: 30px;

            .back-button {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                // justify-content: center;
            }
            .return {
                height: 4vh;
                width: 4vw;
                padding-bottom: 5px;
            }
        }

        .close-box {
            align-self: flex-end;
            padding-right: 12%;
            margin-top: 30px;

            .close-button {
                height: 100%;
                width: 100%;
            }
        }
    }
    .each-house__small-container {
        margin-top: 10px;
        width: 78%;

        .each-house__address-price-container {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgba(1, 1, 1, 0.5);
            box-shadow: 0 1px 5px 1px rgba(1, 1, 1, 0.5);
            color: rgba(1, 1, 1, 0.8);
            background: whitesmoke;
            padding: 5px;

            .each-house__nessecity {
                display: flex;

                p {
                    margin: 0 10px;
                }
            }
        }

        .each-house__images {
            .each-house__image {
                width: 100%;
                height: 450px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }

            .each-house__thumb-nail {
                width: 100%;
                height: 150px;
            }
        }

        .each-house__overview {
            padding: 20px;
            background-color: ghostwhite;
            margin-top: 15px;
            border: 3px solid rgba(0, 0, 0, 0.1);
            p {
                line-height: 30px;
                border-top: 1px solid rgba(1, 1, 1, 0.8);
                margin: 25px 0;
            }
        }

        .each-house__advantages {
            color: blue;
            font-weight: 500;
            margin-top: 25px;
            margin-bottom: 5vh;
            padding: 0px 10px;
            display: flex;
            justify-content: space-between;
        }
    }
}
.each-house-modal {
    .each-house__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: whitesmoke;
        margin: 0px;

        .nav-controls {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            .return-box {
                align-self: flex-end;
                margin-right: 20px;
                margin-top: 30px;

                .back-button {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    // justify-content: center;
                }
                .return {
                    height: 4vh;
                    width: 4vw;
                    padding-bottom: 5px;
                }
            }

            .close-box {
                align-self: flex-end;
                padding-right: 12%;
                margin-top: 30px;

                .close-button {
                    height: 100%;
                    width: 100%;
                }
            }
        }
        .each-house__small-container {
            margin-top: 10px;
            width: 78%;

            .each-house__address-price-container {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid rgba(1, 1, 1, 0.5);
                box-shadow: 0 1px 5px 1px rgba(1, 1, 1, 0.5);
                color: rgba(1, 1, 1, 0.8);
                background: whitesmoke;
                padding: 5px;

                .each-house__nessecity {
                    display: flex;

                    p {
                        margin: 0 10px;
                    }
                }
            }

            .each-house__images {
                .each-house__image {
                    width: 100%;
                    height: 450px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

                .each-house__thumb-nail {
                    width: 100%;
                    height: 150px;
                }
            }

            .each-house__overview {
                padding: 20px;
                background-color: ghostwhite;
                margin-top: 15px;
                border: 3px solid rgba(0, 0, 0, 0.1);
                p {
                    line-height: 30px;
                    border-top: 1px solid rgba(1, 1, 1, 0.8);
                    margin: 25px 0;
                }
            }

            .each-house__advantages {
                color: blue;
                font-weight: 500;
                margin-top: 25px;
                margin-bottom: 5vh;
                padding: 0px 10px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

@include tablet {
    .each-house__container {
        margin: 100px 0;
        .nav-controls {
            .return-box {
                .back-button {
                    h1 {
                        font-size: 1.3em;
                    }
                }
            }

            .close-box {
                .close-button {
                    h1 {
                        font-size: 1.3em;
                    }
                }
            }
        }
        .each-house__small-container {
            .each-house__address-price-container {
                p {
                    font-size: 15px;
                }

                h4 {
                    font-size: 17px;
                }

                h3 {
                    font-size: 20px;
                }
            }
            .each-house__images {
                .each-house__image {
                    height: 350px;
                }
            }
        }
    }

    .each-house-modal {
        .each-house__container {
            margin: 100px 0;

            .nav-controls {
                .return-box {
                    .back-button {
                        h1 {
                            font-size: 1.3em;
                        }
                    }
                }

                .close-box {
                    .close-button {
                        h1 {
                            font-size: 1.3em;
                        }
                    }
                }
            }
            .each-house__small-container {
                .each-house__address-price-container {
                    p {
                        font-size: 15px;
                    }

                    h4 {
                        font-size: 17px;
                    }

                    h3 {
                        font-size: 20px;
                    }
                }
                .each-house__images {
                    .each-house__image {
                        height: 350px;
                    }
                }
            }
        }
    }
}

@include mobile {
    .each-house__container {
        margin: 100px 0;

        .nav-controls {
            .return-box {
                .back-button {
                    h1 {
                        font-size: 1em;
                    }
                }
                .return {
                    height: 3vh;
                    width: 3vw;
                    margin-right: 10px;
                    margin-bottom: 3px;
                }
            }

            .close-box {
                .close-button {
                    h1 {
                        font-size: 1em;
                    }
                }
            }
        }
        .each-house__small-container {
            .each-house__address-price-container {
                position: relative;

                p {
                    font-size: 11px;
                }

                h4 {
                    font-size: 13px;
                }

                h3 {
                    font-size: 17px;
                    position: absolute;
                    right: 10px;
                    bottom: 0;
                }
            }

            .each-house__images {
                .each-house__image {
                    height: 250px;
                }
            }

            .each-house__overview {
                p {
                    font-size: 12px;
                }
            }

            .each-house__advantages {
                flex-direction: column;
                align-items: center;

                p {
                    font-size: 11px;
                }
            }
        }
    }
}

.each-house-modal {
    .each-house__container {
        margin: 100px 0;

        .nav-controls {
            .return-box {
                .back-button {
                    h1 {
                        font-size: 1em;
                    }
                }
                .return {
                    height: 3vh;
                    width: 3vw;
                    margin-right: 10px;
                    margin-bottom: 3px;
                }
            }

            .close-box {
                .close-button {
                    h1 {
                        font-size: 1em;
                    }
                }
            }
        }
        .each-house__small-container {
            .each-house__address-price-container {
                position: relative;

                p {
                    font-size: 11px;
                }

                h4 {
                    font-size: 13px;
                }

                h3 {
                    font-size: 17px;
                    position: absolute;
                    right: 10px;
                    bottom: 0;
                }
            }

            .each-house__images {
                .each-house__image {
                    height: 250px;
                }
            }

            .each-house__overview {
                p {
                    font-size: 12px;
                }
            }

            .each-house__advantages {
                flex-direction: column;
                align-items: center;

                p {
                    font-size: 11px;
                }
            }
        }
    }
}
