@import "../../../ComponentStyles/_base.scss";

.signup-form-container{
    display:flex;
    flex-direction: column;
    background-color: whitesmoke;
    font-family: $roboto;
    justify-content: center;
    align-items: center;
    z-index: 150;
    height: 100%;
    width: 100%; 
    
    #error-display{
        font-size: .8em;
        color: red;
    }

    #close-container{
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        height: 40px;
        width: 90%;

        #close-container-button{
            background-color: whitesmoke;

            svg{
                height: 5vh;
                width: 5vw;
            }
        }
    }
}
