@import "./sub-footer";

.sub-footer__container {
    display: flex;
    justify-content: space-evenly;
}

.footer-infos__container {
    display: flex;
    flex-direction: column;
    background: black;
    color: rgba(255, 255, 255, 0.7);

    .xillow-group__container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;

        li {
            margin: 0 10px;
            font-size: 13px;
            border-right: 1px solid rgba(255, 255, 255, 0.7);
            padding: 0 20px 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .xillow-grounp__brand{
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 0;
            border: none;
        }
    }

    hr {
        background: rgba(255, 255, 255, 0.7);
    }

    .xillow-quick-links__container {
        display: flex;
        justify-content: space-evenly;
        margin: 20px 0 0 0;

        li {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.7);
        }
    }

    .xillow-copy-right__container {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            p {
                margin: 0 10px;
                font-size: 20px;
            }
        }

        .xillow__copyright {
            p {
                font-size: 12px;
            }
        }

        .xillow__brands {
            display: flex;

            p {
                margin: 0 10px;
            }
        }
    }

}


@media (max-width: 768px) and (min-width: 561px) {}

@media (max-width: 560px) and (min-width: 425px) {
    .sub-footer__container {
        flex-wrap: wrap
    }
    .footer-infos__container{
        .xillow-group__container{
            flex-wrap: wrap;
            justify-content: space-evenly;

            li{
                font-size: 11px;
                margin: 0 5px 10px 5px;
            }
            .xillow-grounp__brand{
                margin: 0;
            }
        }
        .xillow-quick-links__container{
            flex-wrap: wrap;

            li{
                margin: 0 5px;
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 424px) {
    .sub-footer__container {
        flex-wrap: wrap
    }
    .footer-infos__container{
        .xillow-group__container{
            flex-wrap: wrap;
            justify-content: space-evenly;

            li{
                font-size: 11px;
                margin: 0 5px 10px 5px;
            }
            .xillow-grounp__brand{
                margin: 0;
            }
        }

        .xillow-quick-links__container{
            flex-wrap: wrap;

            li{
                margin: 0 6px;
                font-size: 11px;
            }
        }
    }

}