.each-sub-footer__container{

    .sub-footer__list{
        li{
            line-height: 30px;
            font-size: 13px;
        }
        button{
            color: #428bca;
            font-size: 13px;
        }
    }
}