@import "./server-listing";


.listings__container {
    margin: 30px 0 30px 50px;
    font-family: "Roboto";

    .listings__small-container {
        display: flex;
        overflow: hidden;
    }
}