.listing__container{
    margin: 20px 15px; 
    box-shadow: 0 1px 3px 1px rgba(1,1,1,.5);

    .listing__image{
        width: 280px;
        height: 170px;
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .listing__texts{
        p{
            margin: 10px 0 0 10px;
        }

        .listing__icons{
            display: flex;
            
            p{
                font-size: 13px;
                margin: 10px 10px
            }
        }
    }

}