@import "../../ComponentStyles/_base.scss";

.nav-container {
    display: flex;
    background-color: whitesmoke;
    height: 50px;
    font-family: $roboto;

    .navbar-brand__image {
        height: 100px;
        width: 100px;
        background-size: $bg-cover;
        background-position: $bg-center;
        position: absolute;
        left: 50px;
        z-index: 50;
        box-shadow: 0 0 10px 2px rgba(1,1,1,0.5)
    }

    .nav-container__list-container {
        width: 50%;
        margin-left: 100px;

        .nav-container__list-small-container {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 100%;

            li {
                display: flex;
                margin: 0 10px;
                a {
                    color: black;
                }
            }
        }
    }
}

.sign-up-container{
    z-index: 150;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}