@import "../../ComponentStyles/_base.scss";

.nav-container {
    display: flex;
    background-color: whitesmoke;
    height: 50px;
    font-family: $roboto;

    .navbar-brand__image {
        height: 100px;
        width: 100px;
        background-size: $bg-cover;
        background-position: $bg-center;
        position: absolute;
        top: 10px;
        left: 30px;
        z-index: 50;
        box-shadow: 0 0 10px 2px rgba(1, 1, 1, 0.5);
        transition: all 0.5s linear
    }

    .nav-container__bars-container {
        position: absolute;
        right: 20px;
        top: 10px;
        z-index: 50;
        cursor: pointer;

        .nav-container__bars {
            color: whitesmoke;
            font-size: 25px;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(1, 1, 1, 0.6);
            border-radius: 5px;
            animation: exist 0.5s linear
        }

        @keyframes exist {
            from {
                opacity: 0.2
            }

            to {
                opacity: 1;
            }
        }
    }

    .nav-container__list-container {
        width: 50%;
        margin-left: 100px;

        .nav-container__list-small-container {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 100%;

            li {
                display: flex;
                margin: 0 10px;

                a {
                    color: black;
                }
            }
        }
    }
}

.nav__modal-pop-up {
    display: flex;
    justify-content: flex-end;

    .nav__small-modal {
        background: white;
        width: 300px; 
        animation: modalMoveOut 0.3s linear;

        h3 {
            color: black;
            font-size: 18px;
            height: 50px;
            display: flex;
            align-items: center;
            background: whitesmoke;
            cursor: pointer;

            .arrow-icons{
                margin: 0 15px;
                font-size: 13px;
            }

            &:hover{
                color: rgba(82, 179, 217, 1);
            }
        }

        ul{
            margin: 15px;

            li{
                cursor: pointer;

                &:hover{
                    color: crimson
                }
            }
        }
    }

    @keyframes modalMoveOut {
        from{
            width: 0
        }
        to{
            width: 300px;
        }
    }
}

.sign-up-container {
    z-index: 150;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}

@media (max-width: 1024px) and (min-width: 769px) {
    .nav-container {
        .nav-container__list-container {
            width: 70%;
        }
    }
}

@media (max-width: 768px) and (min-width: 561px) {
    .nav-container {
        .navbar-brand__image {
            width: 50px;
            height: 50px;
        }
    }
}

@media (max-width: 560px) and (min-width: 425px) {
    .nav-container {
        .navbar-brand__image {
            width: 50px;
            height: 50px;
        }
    }
}

@media (max-width: 424px) {
    .nav-container {
        .navbar-brand__image {
            width: 50px;
            height: 50px;
        }
    }
}